@import './reset.scss';
@import './config.scss';

html,
body {
  font-family: monospace;
}

.container {
  box-sizing: border-box;
  padding: 22px;
  display: flex;
  height: 100vh;
  background: url('/assets/landscape.png') no-repeat;
  background-position: top center;
  background-size: cover;
}

.loading {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 8px solid #fff;
  border-top: 8px solid $primary;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.empty {
  @include flex-center;
  min-width: 150px;
  min-height: 185px;
  flex: 1;
  flex-shrink: 0;
  font-size: 38px;
  text-align: center;
}

.panel-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 38px;
}

.tempBtn {
  padding: 5px 10px;
  color: #383838;
  cursor: pointer;
  background: #f3f3f3;
}

.activeUnit {
  color: #fff;
  background: $primary;
}

.celsius {
  border-radius: 5px 0 0 5px;
}

.fahrenheit {
  border-radius: 0 5px 5px 0;
}